# 보안 관련 파일
**/.env*
**/.pem
**/.rsa
**/.key
**/.p12
**/.pfx
**/.crt
**/.cer
**/.der
**/.jks
**/.keystore
**/secrets/
**/credentials/
**/config/secrets/
**/private/
**/keys/

**/.git
**/.gitignore
**/.gitattributes

**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*~

**/.gradle
**/build/
!build/libs/
!build/libs/*.jar

*.log